/* Kimberly Noall Hunter
IS 201 
Dec 2022 */

body {
    background-image: url(../assets/img/grey_background.jpeg);
    background-repeat: inherit;
}

.common {
    /* background-color: blueviolet; */
    /* border: 5px solid black; */
    position: absolute;
}

.left {
    top: 170px;
    left: 10px;
    width: 150px;
    text-align: center;
    list-style: none;
    z-index: 2;
   
}

.nav-item {
    list-style: none;
    padding: 15px;
    width: 150px;
    list-style: none;
    background-color: rgba(172, 172, 172, 0.38);
   
}

.nav-link {
    display: block;
    list-style: none;
    padding: 10px 0;
    color: #212529;
    margin-left: 0%;
}

.header {
    top: 10px;
    left: 10px;
    right: 10px;
    height: 150px;
    background-color: rgba(172, 172, 172, 0.501);
}

.main {
    top: 170px;
    left: 200px;
    right: 10px;
    min-height: 100vh;
    /* margin-bottom: -100px; */
    padding-bottom: 30px;
   

}

.footer {
    bottom: 0px;
    left: 10px;
    right: 10px;
    height: 100px;
    background-color: rgba(172, 172, 172, 0.38);
}

.footer2 {
    /* margin-top: auto; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(171, 231, 251, 0.447);
}

/* .push {
    height: 100px;
} */

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #0085A1;   
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(61, 59, 59);  
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(186, 186, 186);
}

p {
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(61, 59, 59);
    padding-left: 5%;
}

.center {
    text-align: center;
}

.leftmargin {
    margin-left: 50px;
}

.bold {
    font-weight: bold;
}

li {
    font-weight: normal;
}