body {
    background-image: url(../assets/img/grey_background.jpeg);
    background-repeat: inherit;
}

.container {
    position: absolute;
    border-color: #212529;
    border-width: 5px;
}

h1 {
    font-family: fantasy;
    font-size: calc(400%);
    color: #0085A1;   
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(61, 59, 59);  
}

p {
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(61, 59, 59);
    padding-left: 5%;
}

/* .header {
    text-align: center;
    position: relative;
    padding-left: 130px;
    display: inline-block;
    width: 100%; 
    padding-left: 140px;
    min-height: 100px;
    padding-top: 5px;
    margin-bottom: -60px;
} */
.header {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%; 
    padding-left: 140px;
    min-height: 100px;
    padding-top: 5px;
    margin-bottom: -60px;
    
}

a {
    color:#577593;
    text-decoration: none;
}
a:visited {
    color:lightslategrey;

}

a:hover {
    
    color: #0085A1;

}

.nav-item {
    text-align: center;
    padding: 15px;
    width: 100px;
    list-style: none;
    background-color: rgba(172, 172, 172, 0.38);
    margin-left: 0%;
}

.nav-link {
    display: block;
    padding: 0.5rem 0;
    color: #212529;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin-left: 0%;
}

.nav-link:hover {
    color: #0085A1;
}

.nav-link:visited {
    color:#58463a;
}

.navbar {
    position: relative;
    display: flex;
    left: 5px;   
    margin-right: 10px; 

}

.bold {
    font-weight: bold;
}

li {
    font-weight: normal;
}